@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 50px;
  background-color: rgb(150, 57, 57);
  margin-bottom: 70px;
}

.contacts__header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  background-color: rgb(123, 46, 46);
  color: #fff;
}
